.tile{
    border: solid 1px lightgray;
    &:hover{
        background-color: rgb(170, 170, 170);
    }
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.black{
    background-color: black;
    color: white;
}

.container{
    width: 600px;
    height: 600px;
    display: grid;
    border: solid 1px lightcoral;
    grid-template-columns: repeat(50,12px);
    margin: auto;
    
}

span{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    cursor: pointer;

    
    
}
i{
    color: rgb(73, 73, 73);
    transition: .1s all linear;
    &:hover{
        color: rgb(175, 175, 175);
    }
}
.button-container{
    width: fit-content;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    background-color: rgb(159, 236, 255);
    padding: 20px 30px;
    border-radius: 20px;
    position: fixed;
    bottom : 30px;
    left: 50%;
    right: 50%;
    translate: -50% ;
    box-shadow: 3px 3px 10px  rgb(107, 107, 107);
    
    
    
}
#settingsContainer{
    width: 300px;
    background-color:rgb(159, 236, 255) ;
    padding: 15px;
    box-shadow: 3px 3px 10px  rgb(107, 107, 107);
    border-radius: 20px;
    font-size: 18px;
    position: absolute;
    transform:translate(-50%,-50%);
    
    left: 50%;
    bottom: 50px;
}

label{
    text-transform: uppercase;
    font-weight: bold;
}
input{
    width: 80px;
}
form{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}
#settings{
    position: relative;
}

.d-none{
    display: none;
}

#Regenerate{
    grid-column: span 2;
    width: 100%;
    padding: 10px;
}